    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(#b1ccea, #98b8df, #638dc9);
    }
    
    #icon-pdf{
        content: url("../../public/logo/pdf-icon.png");
        width: 15px;
        display:inline-flex;
    }

    #icon-excel{
        content: url("../../public/logo/excel-icon.png");
        width: 15px;
        display:inline-flex;
    }

    /*Start navbar */

    .navbar{
        background-image: linear-gradient(#c7d9ed, #b4c7e7, #c7d9ed); border-bottom: 1px solid #577fb3; padding-top:0.45rem; padding-bottom:0.45rem;
    }

    .navbar #navbarDropdown{
        color:#0a4293; font-size:14px; font-weight:600;
    }

    .dropdown-menu{
        background-color:#fafafa; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border: 1px solid #9d9d9d;
    }

    .dropdown-menu a{
        font-size:13px;
        color:#242426;
        border:1px solid transparent;
    }

    .dropdown-menu a:hover{
        border:1px solid #e0d5a7;
        background: linear-gradient(to top, #fce8aa 10%, #f3ce61 40%, #ffe88e 60%,#fef7d5 100%);
        border-radius: 5px;
    }

    /*End navbar*/
    
    /* Start table section */

    #card{
        border:1px solid #9bbbe3; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top:15px;
    }

    #card-header{
        background-image: linear-gradient(#d0e2f8, #e2ecfb); height: 30px; line-height: 6px; font-size: 13px; border-top: 1px white solid
    }

    #header-title{
        line-height: 0; color:#0a4293; font-weight:normal; font-size:14px; font-weight:600;
    }

    #card-body{
        background-color:#f0f0f0; font-size:13px;
    }

    table{
        font-size:13px; border:1px solid #b0c3d7; width:100%;
    }

    table thead {
        line-height:3px;
        background: linear-gradient(to top, #dbe2ed 0%,#dbe2ed 50%,#eef3f7 51%,#eef3f7 100%);
       
    }

    table tr td:last-child {
        white-space: nowrap;
        width: 1px;
    }

    table thead tr td:first-child {
        background-color: #a9c4e8;
        color:white; 
        margin:0; 
        padding:0;
    }

    .slider table tr td:first-child {
        text-align:right;
    }

    table thead tr td {
        font-weight:600;
    }

    table.dataTable tbody tr.selected {
        background: linear-gradient(to top, #fce8aa 10%, #f3ce61 40%, #ffe88e 60%,#fef7d5 100%);
        border:1px solid #8d939d;
    }

    td.numbering {
        background: #e4ecf8;
        text-align:center;
    }

    #selected_row tr{
        cursor: pointer;
    }

    #bto-button, .modal-footer button{
        background: linear-gradient(to bottom, #f0f0f0 0%,#f0f0f0 50%,#d2d2d2 51%,#d2d2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, */
        font-size:13px; 
        height:25px;
        padding-top:auto;
        padding-bottom: auto;
        line-height:0;
        border-radius: 5px;
        min-width:65px;
        border:1px solid #969696;
    }

    #bto-button:hover, .modal-footer button:hover{
        background: linear-gradient(to top, #fce8aa 10%, #f3ce61 40%, #ffe88e 60%,#fef7d5 100%);
    }

    td.details-control {
        background: url("../icon/pluss.png") no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url("../icon/minuss.jpg") no-repeat center center;
    }
    div.slider {
        display: none;

    }

    /* End table section */

    /* Start login section */

    .form-control {
        
        border: transparent;
    }

    .form-control, .btn {        
        border-radius: 2px;
    }

    .login-form {
        border-radius: 25px;
        background-image: linear-gradient(#557cb1, #557cb1);
        left:50%;
        width: 500px;
        position: absolute;
        top: 25%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border:2px solid white; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .login-form form {
        color: white;
        border-radius: 3px;
        padding: 0 30px 30px 30px;
    }

    .login-form .btn {        
        font-size: 16px;
        font-weight: bold;
        background: #3598dc;
        border: none;
        outline: none !important;
    }
    .login-form .btn:hover, .login-form .btn:focus {
        background: #2389cd;
    }
    .login-form a {
        
        color: #fff;
        text-decoration: underline;
    }
    .login-form a:hover {
        text-decoration: none;
    }
    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }
    .login-form form a:hover {
        text-decoration: underline;
    }

    /* End login section*/

    /* Start footer section  */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top:5px;
        font-size:14px;
        height:30px;
        background-color: #bfdbff;
        color: #0a4293;
        text-align: center;
        background-image: linear-gradient(#a9d0fb, #7aa4ce);
        font-weight:600;
        border-top: 1px solid #577fb3;
    }
    /* End footer section*/